    .contacts {
        overflow-x: hidden;
        min-height: 700px;
        /* это нужно для того, чтоб не создавалось горизонтального скролла из-за скроллбара справа на десктопной версии, который не учитывается при задании измерений в vw */
    }

    .contacts__wrap {
        border-top: 1px solid #ececec;
    }

    .contacts__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 65px;
        padding-bottom: 30px;
    }

    .contacts__container {
        display: flex;
    }

    .contacts__contacts {
        width: 40%;
        padding-top: 124px;
        padding-bottom: 30px;
        padding-right: 40px;
        border-right: 1px solid #ececec;
        background-color: #fff;
    }

    .contacts__text {
        padding-top: 30px;
        font-size: 16px;
        font-weight: 400px;
        line-height: 32px;
    }

    .contacts__showroom {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    .contacts__order {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .form {
        max-width: 440px;
        min-height: 410px;
        padding-top: 7px;
        background-color: transparent;
        border-radius: 10px;
        font-size: 12px;
    }

    .input::placeholder {
        color: #999999;
        background-color: transparent;
    }

    .js-validate-error-label {
        position: relative;
        top: 91px;
        left: 20px;
        color: #881111 !important;
        transform: translateY(-80px);
    }

    .input {
        display: block;
        width: 380px;
        height: 60px;
        margin-top: 38px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 24px;
        border: 1px solid #333;
        border-radius: 50px;
        font-size: 16px;
        cursor: pointer;
    }

    .input:hover {
        background-color: #eaeaea;
        cursor: text;
    }

    .button {
        margin-top: 31px;
        margin-bottom: 39px;
        width: 192px;
        height: 60px;
        color: #9D5CD0;
        background-color: transparent;
        border: 1px solid #9D5CD0;
        border-radius: 30px;
        font-size: 20px;
        cursor: pointer;
    }

    .contacts__block {
        padding-top: 18px;
        display: flex;
        width: 130px;
        justify-content: space-between;
        cursor: pointer;
    }

    .contacts__icon {
        display: flex;
        flex-direction: row;
    }

    .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: relative;
        transition: color 0.3s ease;
    }

    .icon.one {
        color: #30BF39;
    }

    .icon.one:hover {
        color: #98f19e;
    }

    .icon.two {
        color: #23a0db;
    }

    .icon.two:hover {
        color: #7cb6e7;
    }

    .contacts__map {
        min-height: 700px;
        width: calc(60% + ((100vw - 100%) / 2));
        margin-right: calc((-100vw + 100%) / 2);
        margin-top: -1px;
    }

    [class*="ground-pane"] {
        filter: grayscale(1);
    }
