                               .gallery-selector {
                                   margin-top: 10px;
                               }

                               .selector_text {
                                   color: #333333;
                               }

                               .choices__inner {
                                   min-height: 37px;
                                   padding: 5px 12px 7px 11px;
                                   background-color: transparent;
                                   border: 1px solid #fff;
                                   border-radius: 5pxpx;
                               }

                               .choises {
                                   border: 1px solid transparent;
                               }

                               .choices:hover {
                                   background-color: #FFFFFF33;
                                   border-color: #9D5CD0;
                               }

                               .choices__list--dropdown .choices__item:hover {
                                   border-color: #9D5CD0;
                               }

                               .is-open:hover {
                                   background-color: transparent;
                                   border: 1px solid #fff;
                               }

                               .choices__list--dropdown .choices__item--selectable.is-highlighted {
                                   background-color: #FFFFFF33;
                               }

                               .choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
                                   background-color: #FFFFFF33;
                               }

                               .is-open .choices__inner {
                                   position: relative;
                                   border-color: #fff;
                                   border-radius: 5px;
                                   z-index: 1;
                               }

                               .choices[data-type*=select-one] .choices__inner {
                                   padding-bottom: 0px;
                                   background-color: transparent;
                                   color: #fff;
                                   border: 1px solid #fff;
                               }

                               .choices__list--dropdown .choices__item--selectable {
                                   padding-right: 10px;
                               }

                               .choices__list--dropdown .choices__item--selectable::after {
                                   content: attr(data-select-text);
                                   display: none;
                               }

                               .choices__list {
                                   padding-top: 10px;
                               }

                               .choices__placeholder {
                                   opacity: 1;
                               }

                               .choices__list--single {
                                   display: inline-block;
                                   padding: 4px 0px 0px 2px;
                                   width: 100%;
                                   font-size: 16px;
                               }

                               .is-open .choices__list--dropdown {
                                   border-top: 0px;
                                   border-radius: 10px;
                                   border-top-left-radius: 0;
                                   border-top-right-radius: 0;
                                   border-color: #fff;
                                   background-color: transparent;
                               }

                               .choices[data-type*=select-one]:after {
                                   height: 8px;
                                   width: 8px;
                                   border-color: transparent transparent #fff #fff;
                                   border-width: 1px;
                                   margin-top: -3.5px;
                                   margin-right: 5px;
                                   transform: rotate(-45deg);
                                   z-index: 1;
                                   transition: border-color 0.2s ease-in-out, margin-top 0.2s ease-in-out;
                               }

                               .choices[data-type*=select-one].is-open:after {
                                   margin-top: -3.5px;
                                   height: 6px;
                                   width: 6px;
                                   border-color: transparent transparent #fff #fff;
                                   border-width: 1px;
                                   margin-top: -8.5px;
                                   transform: rotate(145deg);
                                   z-index: 1;
                                   transition: border-color 0.2s ease-in-out, margin-top 0.2s ease-in-out;
                               }

                               .common-border {
                                   border: 1px solid transparent;
                               }

                               .common-border:hover {
                                   border-color: #9D5CD0;
                               }

                               #choices--selectCustom-item-choice-1 {
                                   display: none;
                               }

                               .choices__list--dropdown .choices__item {
                                   padding: 15px;
                                   background-color: transparent;
                                   color: #fff;
                                   border: 1px solid #fff;
                                   border-radius: 6px;
                               }

                               .choices__list--dropdown .choices__item--selectable.is-highlighted {
                                   background-color: transparent;
                               }

                               .choices__list--dropdown {
                                   margin-top: -16px;
                                   min-height: 300px;
                                   z-index: 0;
                                   background-color: transparent;
                                   color: #fff;
                                   border: none;
                               }
                               /* slider*/

                               .gallery {
                                   background-image: url(../img/background.png);
                                   padding-top: 80px;
                                   padding-bottom: 50px;
                               }

                               .content-wrap {
                                   display: flex;
                                   flex-wrap: wrap;
                                   align-items: flex-start;
                               }

                               .gallery-left,
                               .gallery-last {
                                   width: calc(400 / 1600 * 100%);
                               }

                               .gallery-title {
                                   font-size: 48px;
                                   font-weight: 400;
                                   line-height: 65px;
                                   text-align: left;
                                   color: #fff;
                               }

                               .gallery-text__filter {
                                   font-size: 16px;
                                   color: #fff;
                                   font-weight: 600;
                                   line-height: 32px;
                                   margin-top: 17px;
                               }

                               .gallery-last {
                                   position: relative;
                               }

                               .gallery-last-content {
                                   position: absolute;
                                   width: 100%;
                                   left: 0;
                                   bottom: 0;
                               }

                               .gallery-swiper.swiper-container {
                                   width: calc(1150 / 1600 * 100%);
                                   margin-right: 3px;
                                   margin-top: 25px;
                               }

                               .gallery-wrapper {
                                   margin-top: 23px;
                               }

                               .gallery-navigation {
                                   display: inline-flex;
                                   align-items: center;
                                   margin-bottom: 10px;
                               }

                               .gallery-pagination {
                                   margin-right: 10px;
                                   text-align: center;
                                   color: #fff;
                               }

                               .gallery-nav-btn {
                                   position: relative;
                                   flex-shrink: 0;
                                   width: 26px;
                                   height: 26px;
                                   background-color: #666;
                                   border: none;
                                   border-radius: 50%;
                                   cursor: pointer;
                               }

                               .gallery-nav-btn::before {
                                   content: "";
                                   position: absolute;
                                   width: 5px;
                                   height: 5px;
                                   top: 50%;
                                   left: 50%;
                                   transform: translate(-50%, -50%) rotate(45deg);
                                   transform-origin: center;
                               }

                               .gallery-prev {
                                   margin-right: 10px;
                               }

                               .gallery-next::before {
                                   border-top: 1px solid #fff;
                                   border-right: 1px solid #fff;
                               }

                               .gallery-prev::before {
                                   border-left: 1px solid #fff;
                                   border-bottom: 1px solid #fff;
                               }

                               .gallery-slide {
                                   position: relative;
                                   overflow: hidden;
                                   background-color: #926B88;
                               }

                               .gallery-slide::before {
                                   content: "";
                                   position: relative;
                                   z-index: 1;
                                   display: block;
                                   padding-top: 100%;
                                   border: 3px solid transparent;
                                   transition: background-color .3s ease, border-color .3s ease;
                               }

                               .gallery-slide::after {
                                   content: "";
                                   position: absolute;
                                   left: 0;
                                   top: 0;
                                   z-index: 2;
                                   width: 100%;
                                   height: 100%;
                                   padding: 25px;
                                   box-sizing: border-box;
                                   opacity: 0;
                                   background-color: rgba(0, 0, 0, 0.5);
                                   background-image: url(../img/12-12.svg);
                                   background-repeat: no-repeat;
                                   background-size: 100px;
                                   background-position: center;
                                   background-clip: content-box;
                                   transition: opacity .5s ease;
                               }

                               .gallery-slide:hover::after {
                                   opacity: 1;
                               }

                               .gallery-slide:active::before {
                                   border-color: #D1A9F0;
                                   background-color: rgba(194, 131, 243, 0.4);
                               }

                               .gallery-image {
                                   position: absolute;
                                   top: 0;
                                   left: 0;
                                   width: 100%;
                                   height: 100%;
                                   object-fit: cover;
                               }
                               /* Адаптивная высота слайда регулируется относительно его ширины с помощью padding-top в % для псевдоэлемента ::before */

                               @media (max-width: 1024px) {
                                   .gallery-slide::before {
                                       padding-top: 85%;
                                   }
                               }

                               @media (max-width: 768px) {
                                   .gallery-left,
                                   .gallery-swiper.swiper-container {
                                       width: 100%;
                                       margin-left: 0;
                                       margin-bottom: 20px;
                                   }
                                   .gallery-last {
                                       width: 100%;
                                   }
                                   .gallery-last-content {
                                       position: static;
                                   }
                                   .gallery-selector {
                                       max-width: 300px;
                                   }
                               }

                               @media (max-width: 580px) {
                                   .gallery-slide::before {
                                       padding-top: 110%;
                                   }
                               }
