.projects {
    padding: 80px 0px;
}

.projects-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
}

.projects-content {
    padding-top: 30px;
    max-width: 1116px;
    min-height: 246px;
}

.projects-text {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1px;
}

.projects-link {
    color: #9D5CD0;
}

.projects-marker {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #9D5CD0;
}

.projects-marker:hover {
    background-color: #D1A9F0;
    color: #333;
}

.projects-marker:active {
    background-color: #9d5cd0;
    color: #fff;
}

.tippy-box {
    background-color: #9D5CD0;
}

.tippy-arrow::before {
    color: #9D5CD0;
}


/*slider*/

.projects__title-two {
    padding-top: 30px;
    padding-left: 6px;
    font-size: 25px;
}

.slider3 {
    max-width: 1407px;
    width: 100%;
    height: 192px;
}

.project-wrapper {
    position: relative;
    padding-top: 4px;
}

.project-slide {
    max-width: 450px;
    min-height: 150px;
    position: relative;
    cursor: pointer;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide:nth-child(3) {
    margin-right: 50px;
}

.project-btn {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 104px;
    justify-content: space-between;
}


/*.swipwr-button-next-two {
    position: relative;
    left: -33px;
    background-color: #ECECEC;
}

.swiper-button-prev-one {
    position: relative;
    background-color: #ECECEC;
}*/

.project-slide {
    max-width: 435px;
    min-height: 150px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #cacaca;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-one {
    background-image: url('../img/png1.png');
    /*-moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

.project-slide-one:hover {
    background-image: url('../img/freelance.png');
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    /*-moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);*/
}

.project-slide-two {
    background-image: url('../img/png2.png');
    background-repeat: no-repeat;
}

.project-slide-two:hover {
    background-image: url('../img/iv.png');
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-three {
    background-image: url('../img/project-3.png');
    background-repeat: no-repeat;
}

.project-slide-three:hover {
    background-image: url('../img/workhouse.png');
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-four {
    background-image: url('../img/png-4.png');
    background-repeat: no-repeat;
}

.project-slide-four:hover {
    background-image: url(../img/1849.png);
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-five {
    background-image: url('../img/png-5.png');
    background-repeat: no-repeat;
}

.project-slide-five:hover {
    background-image: url(../img/hiscox.png);
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-six {
    background-image: url('../img/png-6.png');
    background-repeat: no-repeat;
}

.project-slide-six:hover {
    background-image: url('../img/camden.png');
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-seven {
    background-image: url('../img/png-7.png');
    background-repeat: no-repeat;
}

.project-slide-seven:hover {
    background-image: url('../img/stassen.png');
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-eight {
    background-image: url('../img/png-8.png');
    background-repeat: no-repeat;
}

.project-slide-eight:hover {
    background-image: url('../img/watts.png');
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.project-slide-nine {
    background-image: url('../img/png-9.png');
    background-repeat: no-repeat;
}

.project-slide-nine:hover {
    background-image: url('../img/esad.png');
    outline: 1px solid var(--font-color);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

.slider3-swiper-button-prev {
    width: 30px;
    height: 30px;
    position: static;
    background-color: #ECECEC;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: url('../img/strelka.svg');
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
    outline: none;
    cursor: pointer;
}

.slider3-swiper-button-next {
    width: 30px;
    height: 30px;
    position: static;
    background-color: #ECECEC;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    background-image: url('../img/strelka.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-7deg);
    outline: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.slider3-swiper-button-next:hover {
    background-color: #ECECEC;
    border: 1px solid var(--hover-active);
}

.slider3-swiper-button-prev:hover {
    background-color: #ECECEC;
    border: 1px solid var(--hover-active);
}

.slider3-swiper-button-next:active {
    border: none;
    background-color: #D1A9F0;
    ;
}

.slider3-swiper-button-prev:active {
    border: none;
    background-color: #D1A9F0;
    ;
}

.slider3-swiper-button-next:focus {
    border: 2px solid #7943A4;
    background-color: #D1A9F0;
}

.slider3-swiper-button-prev:focus {
    border: 2px solid #7943A4;
    background-color: #D1A9F0;
}

.slider3-swiper-button-prev::after,
.slider3-swiper-button-next::after {
    display: none;
}
